/* Fill CSS here */

div{
    display: flex;
    justify-content: space-between;
}

form{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: auto;
    margin: auto;
    box-shadow: rgba(160, 164, 168, 0.2) 0px 8px 24px;
    padding: 40px;
    /* margin-right: 10px;
    margin-left: 10px; */
}

h1{
    text-align: center;
    color: blue;
    text-decoration: underline;
    font-size: 39px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 0px;
    text-align: center;
  }

thead th{
    border: 2px solid #eeeeee;
    width: auto;
    color: white;
    background-color:  #0468aa;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input{
    padding: 5px;
}


table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  height: auto;
}

table tr:nth-child(even) {
    background-color: #8caacf;
  }